@import "tailwindcss";

.blinking-cursor {
  font-weight: 100;
  font-size: 1.5rem;
  color: #7e22ce; /* matching purple */
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
